.project
.classpath
.gradle
.settings
.idea
.DS_Store

.github/workflows

build
tmp

CMakeLists.txt

standalone/inc/wine/dlls/vbscript/parser.tab.h
standalone/inc/wine/dlls/vbscript/parser.tab.c
local.properties
standalone/idl/parser/bin
standalone/macos-arm64/external
standalone/macos-x64/external
standalone/ios/external
standalone/ios/ios-project/assets
standalone/tvos/external
standalone/tvos/tvos-project/assets
standalone/android/external
standalone/android/android-project/app/src/main/assets
standalone/android/android-project/app/src/main/jniLibs
standalone/linux/external
standalone/rpi/external
