.project
.classpath
.gradle
.settings
.idea
.DS_Store
.vscode

.github/workflows

build
tmp

CMakeLists.txt

standalone/inc/wine/dlls/vbscript/parser.tab.h
standalone/inc/wine/dlls/vbscript/parser.tab.c
local.properties
standalone/idl/parser/bin
standalone/macos-arm64/external
standalone/macos-x64/external
standalone/ios-arm64/external
standalone/ios-arm64/ios-project/assets
standalone/ios-simulator-arm64/external
standalone/tvos-arm64/external
standalone/tvos-arm64/tvos-project/assets
standalone/android-arm64-v8a/external
standalone/android-arm64-v8a/android-project/app/src/main/assets
standalone/android-arm64-v8a/android-project/app/src/main/jniLibs
standalone/linux-x64/external
standalone/linux-aarch64/external
