.project
.classpath
.gradle
.settings
.idea
.DS_Store
.vscode
local.properties
build
xcuserdata/
fastlane/

.github/workflows

tmp

CMakeLists.txt
external
third-party/*

standalone/inc/wine/dlls/vbscript/parser.tab.h
standalone/inc/wine/dlls/vbscript/parser.tab.c
standalone/idl/parser/bin
standalone/ios/VPinball/Frameworks
standalone/android/app/src/main/assets
standalone/android/app/src/main/jniLibs

# local Microsoft Visual Studio files
VisualPinball.sln
/*.vcxproj
/*.vcxproj.filters
